.conTitle {
    color: white;
    text-shadow: 4px 4px #ff0000;
}

.expTitle {
    color: white;
    text-shadow: 4px 4px #1946a8;
}

.homeTitle {
    color: white;
    text-shadow: 4px 4px #b69811;
}

.navBar {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: white;
}

.bgImg{
    position : fixed;
    top : 0%;
    left : 0%;
    transform: translate(100% , 0%);
    z-index: -1;
}

.bgImg2{
    position : fixed;
    top : 50%;
    left : 50%;
    transform: translate(-100% , -50%);
    z-index: -1;
}

.grow { 
    transition: all .3s ease-out; 
}

.grow:hover { 
    transform: scale(1.03); 
}

.growtab { 
    transition: all .3s ease-out; 
}

.growtab:hover { 
    transform: scale(1.1); 
}


p {
    text-align: justify;
    text-indent: 40px;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
}